/* You can add global styles to this file, and also import other style files */
textarea.form-control,
input.form-control {
  font-size: 1.25rem;
  font-weight: 100;
}

i.required {
  font-size: 7px;
  position: relative;
  top: -6px;
}

.btn {
  opacity: 0.9;
}

.btn.btn-outline-secondary.calendar {
  border-color: #ccc;
}

.btn.btn-outline-secondary.calendar i.fas {
  color: #ccc;
}

.toast-body {
  font-size: 1.25rem;
  font-weight: 200;
  padding: 1rem 1.50rem;
}

.toast-body i {
  margin-right: 5px;
}
